<ion-header>
  <ion-toolbar>
    <div class="desktop-menu" (scroll)="onWindowScroll();">
      <a class="logo">
        <img src="../../../../assets/funeral.png" />
      </a>

      <ul>
        <li (click)="home()">
          <a>Home</a>
        </li>
        <li (click)="gallery()">
          <a>Gallery</a>
        </li>
        <li (click)="about()">
          <a>About US</a>
        </li>
        <li (click)="contact()" class="active">
          <a>Contact US</a>
        </li>
        <li (click)="admin()">
          <a>Admin</a>
        </li>

        <div class="search-area">
          <ion-input placeholder="Type a keyword"></ion-input>
          <ion-button>SEARCH</ion-button>
        </div>
      </ul>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="box-wrapper">
  <div class="banner">
    <div class="over-banner">
      <div>
        <p>Home / Contact US</p>
      </div>
    </div>
  </div>

  <div class="contact-area">
    <div class="left">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3577.567115601636!2d27.809544514688255!3d-26.275709273264813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95a44259966143%3A0x7aa9c9ccd07a406f!2sProtea%20Glen%20Mall!5e0!3m2!1sen!2sza!4v1634576850749!5m2!1sen!2sza"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
    <div class="right">
      <h3>Leave us a message</h3>
      <br />
      <br />
      <br />

      <form>
        <input type="text" placeholder="Full Name" /><br />
        <input type="text" placeholder="Subject" /><br />
        <textarea cols="30" rows="7" placeholder="Your Message"></textarea>
        <br />
        <button class="contact-btn">Send Message</button>
      </form>
    </div>
  </div>
  <footer>
    <ion-grid class="mid-foot">
      <ion-row class="foot-wrap">
        <ion-col class="foot-middle" size="4">
          <!-- <h5><i class="yell">Y</i>ellow<i class="yell">B</i>in</h5> -->
          <h5 style="margin-left: 0" class="theeLogo">
            <img
              class="img-logo"
              src="../../../../assets/logo.PNG"
              alt="Mawila-HHS"
            />
          </h5>

          <br />
          <div class="fSocials">
            <div>
              <a><ion-icon class="face" name="logo-facebook"></ion-icon></a>
              <p>facebook</p>
            </div>
            <div>
              <a><ion-icon class="tweet" name="logo-twitter"></ion-icon></a>
              <p>twitter</p>
            </div>
            <div>
              <a><ion-icon class="insta" name="logo-instagram"></ion-icon></a>
              <p>instagram</p>
            </div>
          </div>

          <p>Subscribe to get updates</p>
          <div class="search-area">
            <ion-input placeholder="Enter Your Email Address"></ion-input>
            <ion-button>SEARCH</ion-button>
          </div>
        </ion-col>
        <ion-col class="foot-middle middle" size="4">
          <h5>See More</h5>
          <br /><br /><br />
          <div>
            <a routerLink="/login">Upcoming Events</a>
            <a routerLink="/about">Memorials</a>
            <a routerLink="/about">Get a obituary</a>
            <a routerLink="/about">Tombstones and Burials</a>
          </div>
        </ion-col>
        <ion-col class="foot-middle right" size="4">
          <h5>Get in touch</h5>
          <br />
          <p>
            <ion-icon name="compass-outline"></ion-icon> &nbsp;&nbsp;&nbsp; 26
            Street Lekazi, Nelspruit 2014
          </p>
          <br />
          <p>
            <ion-icon name="call-outline"></ion-icon>
            &nbsp;&nbsp;&nbsp; 012 264 6425
          </p>
          <br />
          <p>
            <ion-icon name="mail-open-outline"></ion-icon>
            &nbsp;&nbsp;&nbsp; mawila@services.com
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr
      style="
        background: #3e4093 !important;
        margin-top: 1rem;
        margin-bottom: 1rem;
      "
    />

    <div class="last-footer">
      <p>Copyright &copy; &nbsp; MK INNOVATIONS 2022</p>
    </div>
  </footer>
</ion-content>
